body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Bangers', cursive;
    background: url("../Images/background.jpg");
    background-size: cover;
}
*{
    -webkit-user-drag: none;
    user-select: none;
}
#preloader{
    background: white;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop_up{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 10vw;
    background: white;
    z-index: 3;
    border: 0.1vw solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: rgb(186, 19, 19);
    display: none;
}
/* ============================================================================== */
/* ============================================================================== */
/*                                  LOADING PAGE */
/* ============================================================================== */
/* ============================================================================== */

#loading_page{
    width: 100%;
    height: 100vh;
    position: absolute;
    user-select: none;
    display: none;
}
#audio{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 3vw;
    width: 25%;
    outline: none;
}
#main_heading{
    width: 62%;
    position: absolute;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
    font-size: 5vw;
    color: rgb(228, 228, 228);
    text-shadow: 0.1vw 0.1vw .3vw blue;
    z-index: 3;
}
#press_to_enter{
    position: absolute;
    left: 50%;
    bottom: 5vw;
    font-weight: bolder;
    transform: translate(-50%);
    font-size: 2.5vw;
    color: #ffffff;
    text-shadow: 0.1vw 0.1vw .3vw blue;
    z-index: 3;
}
.menu_btns{
    width: 15%;
    padding: 1% 0;
    border-radius: 1vw;
    position: absolute;
    text-align: center;
    left: 50%;
    background: white;
    color: black;
    z-index: 2;
    transform: translate(-50%);
    font-size: 1.5vw;
    transition: 0.3s;
}
.menu_btns:hover{
    background: rgb(24, 24, 140);
    color: white;
    cursor: pointer;
}
#shop{
    top: 17vw;
}
#inventory{
    top: 22vw;
}
.settings{
    top: 27vw;
}
#earth{
    position: absolute;
    width: 30vw;
    height: 30vw;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 0;
}
#sun{
    position: absolute;
    right: 0;
    width: 15vw;
    height: 15vw;
    transform: translate(40%,-40%);
    border-radius: 50%;
    z-index: 0;
}
#chilling_cat_near_sun{
    width: 7vw;
    height: 7vw;
    position: absolute;
    right: 10%;
    top: 0%;
    animation: chilling_cat_near_sun 15s linear infinite;
}
#moon{
    width: 120%;
    height: 30vw;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    transform: translate(-8%,50%);
    z-index: 0;
}

#astronaut_cat{
    width: 10vw;
    position: absolute;
    left: 5%;
    top: 30%;
    animation: rotate 20s linear infinite;
}
#astronaut_cat_2{
    width: 10vw;
    position: absolute;
    left: 40%;
    top: 45%;
    animation: rotateRev 20s linear infinite;
}
#astronaut_cat_3{
    width: 10vw;
    position: absolute;
    right: 10%;
    top: 40%;
    animation: rotate 20s linear infinite;
}
#astronaut_cat_4{
    width: 10vw;
    position: absolute;
    right: 50%;
    top: 20%;
    animation: rotate 20s linear infinite;
}
#guitar_playing_cat{
    width: 7vw;
    position: absolute;
    left: 2%;
    top: 0%;
}
#dancing_cat{
    width: 10vw;
    position: absolute;
    left: 16%;
    top: 1vw;
}
#mewtwo{
    width: 15vw;
    position: absolute;
    right: 5%;
    bottom: 7vw; 
    transform: rotateY(180deg);
}
.profile{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 10vw;
    border-radius:0 5vw 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255,255,255,.8);
}
.avatar{
    width: 30%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar img{
    width: 100%;
}
.stats{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
}
.stats label{
    display: block;
    margin: 0 auto;
    color: green;
}
.name{
    height: 3vw;
    text-align: center;
    font-size: 1.7vw;
    text-transform: capitalize;
}
.experience{
    height: 3vw;
    margin: 0 auto;
}
/* ============================================================================== */
/* ============================================================================== */
/*                                  SHOP SECTION */
/* ============================================================================== */
/* ============================================================================== */
#shop_section{
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 0;
    background: url("../Images/shop_background.jpg");
    background-size: cover;
}
.coins_container{
    position: absolute;
    right: 2vw;
    top: 2vw;
    background: rgb(52, 58, 140);
    border-radius: 3vw;
    height: 3vw;
    display: flex;
    font-size: 1.4vw;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.coins_container p{
    margin: 0 10px;
}
.coins_container img{
    margin-right: 10px;
}
#shop_items_container{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 35vw;
    background: white;
    border-radius: 5vw 0 0 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 2vw rgb(155, 155, 155);
    user-select: none;
    overflow: auto;
}
#shop_items_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.arrow{
    position: absolute;
    cursor: pointer;
    width: 5%;
}
#next_arrow{
    right: 0;
}
#next_arrow:hover{
    transform: scale(1.1);
}
#previous_arrow{
    left: 0;
    transform: rotateY(180deg);
}
#previous_arrow:hover{
    transform: scale(1.1) rotateY(180deg);
}
.shop_items_box{
    width: 21%;
    height: 12vw;
    border-radius: 50%;
    margin: 4% 0;
    background: #FAC7CC;
    background: #D0AAC6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.1vw solid #484467;
    box-shadow: 0 0 1vw grey;
    transition: 0.5s;
}
.shop_items_box > img{
    width: 9vw;
    /* border-radius: 50% 50% 0 0; */
}
.shop_items_box:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.price{
    background: white;
    border-radius: 2vw;
    height: 2.5vw;
    width: 80%;
    display: flex;
    font-size: 1.2vw;
    color: black;
    align-items: center;
    justify-content: center;
    border: 0.1vw solid #484467;
    transition: 0.5s;
}
.price > img{
    height: 100%;
    margin: 0 5%;
    margin-right: -2%;
}
.price:hover{
    background: rgb(52, 58, 140);
    color: white !important;
}
.price:hover p{
    color: white !important;
}
.are_you_sure_container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.7);
    display: none;
    z-index: 2;
}
.are_you_sure_box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 17vw;
    background: white;
    z-index: 3;
    border: 0.1vw solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}
.are_you_sure_box h1{
    text-align: center;
    font-size: 2.5vw;
}
.aswers_box{
    height: 4vw;
    display: flex;
    justify-content: space-evenly;
}
.answer_btns{
    width: 30%;
    height: 100%;
    background: rgb(19, 19, 152);
    border-radius: .5vw;
    color: white;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer_btns:hover{
    background: rgb(65, 65, 186);
    cursor: pointer;
}
.return_container{
    width: 5%;
    height: 3vw;
    background: white;
    border-radius: 2vw;
    position: absolute;
    left: 3vw;
    top: 2vw;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.return_container:hover{
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.2);
    animation: prev_btn_movement 2s ease-in-out infinite;
}
.shop_pages_container{
    height: 2vw;
    position: absolute;
    bottom: 2vw;
    left: 50%;
    transform: translate(-50%);
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.avatar_preview{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar_preview img{
    width: 80%;
}
/* ============================================================================== */
/* ============================================================================== */
/*                                  INVENTORY SECTION */
/* ============================================================================== */
/* ============================================================================== */
#inventory_section{
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 0;
    background: url("../Images/inventory_background.jpg");
    background-size: 100% 100%;
}
#inventory_items_container{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 35vw;
    background: linear-gradient(#4e54c8,#8f94fb);
    border-radius: 5vw 0 0 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 2vw rgb(155, 155, 155);
    user-select: none;
    overflow: auto;
}
#inventory_items_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#next_arrow_inventory{
    right: 0;
}
#next_arrow_inventory:hover{
    transform: scale(1.1);
}
#previous_arrow_inventory{
    left: 0;
    transform: rotateY(180deg);
}
#previous_arrow_inventory:hover{
    transform: scale(1.1) rotateY(180deg);
}


/* ============================================================================== */
/* ============================================================================== */
/*                                  SETTINGS POP UP  */
/* ============================================================================== */
/* ============================================================================== */
#settings_section{
    width: 40%;
    height: 80vh;
    display: none;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to bottom right, #0f0c29,#302b63,#24243e);
    border-radius: 3vw;
    text-align: center;
    border: .5vw double lightblue;
    user-select: none;
}
#settings_closing{
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
    margin: 2% 2%;
    color: white;
    cursor: pointer;
}
.change_name_settings_row{
    justify-content: center !important;
}
.change_name_settings_row input{
    text-align: center;
    margin: 0 2%;
    margin-right: -5%;
    height: 60%;
    font-size: 1.5vw;
}
.settings_row{
    height: 4vw;
    margin: 5% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.audio_settings_box{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio_settings_switch{
    width: 40%;
    height: 70%;
    border-radius: 2vw;
    cursor: pointer;
    border: 0.1vw solid white;
    position: relative;
    margin: 0 5%;
}
.on_off_btn{
    background: linear-gradient(to right bottom, #bdc3c7,#2c3e50);
    width: 50%;
    height: 100%;
    border-radius: 3vw;
    transform-origin: 100% 50%;
    position: absolute;
    transition: .3s;
}
.on{
    background: linear-gradient(to right, rgb(45, 42, 42) 1%, #0f9b0f);
}
.on div{
    left: 50%;
}
.off{
    background: linear-gradient(to left, rgb(45, 42, 42) , #ED213A 99%);
}
.off div{
    left: 0;
}
.settings_buttons{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(to right bottom,#bdc3c7,#2c3e50);
    border-radius: 3vw;
    font-size: 1.5vw;
}
.settings_buttons img{
    margin: 0 3%;
}
.settings_buttons:hover{
    cursor: pointer;
    background: linear-gradient(to left top,#bdc3c7,#2c3e50);
}
#too_long_name{
    width: 50%;
}
#too_short_name{
    width: 50%;
}

/* ============================================================================== */
/* ============================================================================== */
/*                                  LEVELS */
/* ============================================================================== */
/* ============================================================================== */
#levels_section{
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    z-index: 0;
    background-image: url("../Images/Levels/level_section_background_1.png");
    background-size: 85% 112vh;
    /* display: none; */
}
#dancing_cat_in_levels_section{
    position: absolute;
    right: 37%;
    bottom: 22%;
    width: 10%;
}
.settings_btn{
    position: absolute;
    width: 5vw;
    height: 5vw;
    right: 2vw;
    top: 2vw;
    background: whitesmoke;
    border-radius: 50%;
    cursor: pointer;
}
.levels_boxes{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    /* background: linear-gradient(to right,#7F7FD5,#86A8E7,#91EAE4); */
    background: linear-gradient(to right, #FFEFBA,#FFFFFF);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vw;
    cursor: pointer;
    /* color: white; */
}
.stars_container{
    width: 100%;
    height: 40%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.stars_container img{
    width: 25%;
    height: auto;
}
#level_0_btn{
    top: 60%;
    left: 1%;
}
#level_1_btn{
    top: 60%;
    left: 12%;
}
#level_2_btn{
    top: 57%;
    left: 22%;
}
#level_3_btn{
    top: 40%;
    left: 19%;
}
#level_4_btn{
    top: 22%;
    left: 14%;
}
#level_5_btn{
    top: 10%;
    left: 25%;
}
#level_6_btn{
    top: 5%;
    left: 37%;
}
#level_7_btn{
    top: 7%;
    left: 52%;
}


/* ============================================================================== */
/* ============================================================================== */
/*                                  TUTORIAL                                      */
/* ============================================================================== */
/* ============================================================================== */
#level_0{
    width: 100%;
    height: 100vh;
    background: red;
    display: none;
}
#level_1{
    width: 100%;
    height: 100vh;
    background: red;
    display: none;
}